//for dropdown blur
html,
body,
div#tsml-ui,
div.tsml-ui {
  height: 100%;
  margin: 0;
}
meetings {
  height: 100%;
  margin: 0;
}

//"namespaced" css -- should not interfere with presentation outside .tsml-ui
div.tsml-ui {
  //import only what we need from bootstrap
  @import '~bootstrap/scss/functions';
  @import '~bootstrap/scss/variables';
  @import '~bootstrap/scss/mixins';
  @import '~bootstrap/scss/utilities';
  @import '~bootstrap/scss/root';
  @import '~bootstrap/scss/reboot';
  @import '~bootstrap/scss/type';
  //@import '~bootstrap/scss/images';
  @import '~bootstrap/scss/containers';
  @import '~bootstrap/scss/grid';
  @import '~bootstrap/scss/tables';
  @import '~bootstrap/scss/forms';
  @import '~bootstrap/scss/buttons';
  //@import '~bootstrap/scss/transitions';
  @import '~bootstrap/scss/dropdown';
  @import '~bootstrap/scss/button-group';
  //@import '~bootstrap/scss/nav';
  //@import '~bootstrap/scss/navbar';
  //@import '~bootstrap/scss/card';
  //@import '~bootstrap/scss/accordion';
  //@import '~bootstrap/scss/breadcrumb';
  //@import '~bootstrap/scss/pagination';
  @import '~bootstrap/scss/badge';
  @import '~bootstrap/scss/alert';
  //@import '~bootstrap/scss/progress';
  @import '~bootstrap/scss/list-group';
  //@import '~bootstrap/scss/close';
  //@import '~bootstrap/scss/toasts';
  //@import '~bootstrap/scss/modal';
  //@import '~bootstrap/scss/tooltip';
  //@import '~bootstrap/scss/popover';
  //@import '~bootstrap/scss/carousel';
  @import '~bootstrap/scss/spinners';
  @import '~bootstrap/scss/offcanvas';
  //@import '~bootstrap/scss/placeholders';
  @import '~bootstrap/scss/helpers';
  @import '~bootstrap/scss/utilities/api';

  //styles that bootstrap normally puts on the body
  background-color: $body-bg !important;
  color: $body-color !important;
  font-family: $font-family-sans-serif !important;
  font-weight: $font-weight-base !important;
  line-height: $line-height-base !important;
  text-align: $body-text-align !important;
  -webkit-tap-highlight-color: rgba($black, 0);
  -webkit-text-size-adjust: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: none;
  }

  .btn {
    cursor: inherit;
    &[href] {
      cursor: pointer;
    }
  }

  a.btn,
  small {
    &.online {
      background-color: $blue-100;
      border-color: $blue-100;
      color: $blue-600 !important;
      &[href] {
        border-color: $blue-200;
        &:hover {
          background-color: $blue-400;
          color: white !important;
        }
      }
    }

    &.in-person {
      background-color: $green-100;
      border-color: $green-100;
      color: $green-600 !important;
      &[href] {
        border-color: $green-200;
        &:hover {
          background-color: $green-400;
          color: white !important;
        }
      }
    }

    &.inactive {
      background-color: $red-100;
      border-color: $red-100;
      color: $red-600 !important;
      &[href] {
        border-color: $red-200;
        &:hover {
          background-color: $red-400;
          color: white !important;
        }
      }
    }
  }

  //needed as of bootstrap 5.1
  .bg-light {
    background-color: $gray-100 !important;
  }
  .bg-secondary {
    background-color: $gray-600 !important;
  }
  .text-white {
    color: $white !important;
  }
  .text-dark {
    color: $gray-800 !important;
  }

  .container-fluid {
    //for sepia's codered theme
    padding-right: var(--bs-gutter-x, 0.75rem) !important;
    padding-left: var(--bs-gutter-x, 0.75rem) !important;

    @include media-breakpoint-up(md) {
      min-height: 100%;
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .list-group {
    overflow-x: hidden;
    .list-group-item + .list-group-item {
      //to prevent double border
      border-top-width: 0;
    }
  }

  .controls {
    //to allow map to fill available space
    flex: none;

    //show search cancel button
    input[type='search']::-webkit-search-cancel-button {
      -webkit-appearance: searchfield-cancel-button;
    }

    .dropdown {
      .dropdown-menu {
        min-width: 100%;
      }

      //indentation todo make recursive with sass?
      .children {
        a {
          padding-left: 2rem;
        }

        .children {
          a {
            padding-left: 4rem;
          }

          .children {
            a {
              padding-left: 6rem;
            }
          }
        }
      }
    }

    .dropdown-menu-end {
      right: 0;
    }
  }

  .meeting .map {
    height: 100%;
    max-height: 1000px;
    overflow: hidden;
    position: relative;
  }

  .map {
    min-height: 500px; //maps should fill at least 500, but up to entire space

    .mapboxgl-popup {
      max-width: 85%;
      width: 320px;
      z-index: 100; //above the pins

      .mapboxgl-popup-content {
        padding: 0.75rem;
        position: relative;

        .list-group {
          max-height: 250px;
          .list-group-item {
            font-size: 0.9rem;
            padding: 0.5rem;
          }
        }

        .mapboxgl-popup-close-button {
          background: white;
          border-radius: 100%;
          border: 1px solid $gray-300;
          color: $gray-500;
          font-size: 1.5rem;
          height: 30px;
          line-height: 1;
          padding: 0 0.25rem 0.25rem 0.25rem;
          position: absolute;
          right: -10px;
          top: -10px;
          width: 30px;

          &:hover {
            background-color: inherit;
            color: $gray-800;
          }
        }
      }
    }
  }

  table.table {
    //was seeing interference from themes
    border-width: 0;
    table-layout: auto;

    td {
      vertical-align: middle;
    }

    .distance {
      text-align: right;
    }

    //align edges
    tr th:first-child,
    td:first-child {
      padding-left: 1rem;
    }

    > tbody {
      border-top: 2px solid $gray-400 !important;
    }

    //necessary as of v5 to prevent overlapping bg
    &.table-striped > tbody > tr:nth-of-type(odd) {
      background-color: $gray-100;
      td,
      time {
        box-shadow: none;
      }
    }

    //when whole row is clickable
    &.clickable-rows tbody {
      tr:hover {
        cursor: pointer;
        a {
          color: $blue-700;
        }
      }
      &.tsml-in-progress tr:hover {
        a {
          color: $yellow-800;
        }
      }
    }

    //in-progress meetings
    tbody.tsml-in-progress {
      tr {
        background-color: tint-color($yellow, 95%);
        border-bottom-color: $yellow-200;
        td {
          border-bottom-color: $yellow-200 !important;
        }
        a {
          color: $yellow-700;
          cursor: pointer;
          &:hover {
            color: $yellow-800;
          }
        }
        &:nth-of-type(odd) {
          background-color: tint-color($yellow, 90%);
        }
      }
    }

    //mobile view
    @include media-breakpoint-down(md) {
      border-top: 1px solid $secondary;
      tr {
        border-bottom: 1px solid $table-border-color;
        padding: 0.5rem 1rem;
        position: relative;

        td {
          border: 0;
          padding: 0 0 0 6rem;

          &.time {
            left: 1rem;
            padding-left: 0;
            position: absolute;
            width: 5.5rem;
          }

          &.distance {
            left: 1rem;
            top: 3.5rem;
            padding-left: 0;
            font-size: 1.5rem;
            position: absolute;
          }
        }
      }
    }
  }
}
