// dropdown blur
html,
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

// configure bootstrap
$enable-rfs: false;
$grid-gutter-width: 24px;
$input-btn-padding-x-sm: 8px;
$input-btn-padding-x: 12px;
$input-btn-padding-y-sm: 4px;
$input-btn-padding-y: 6px;
$rfs-unit: px;
$spacer: 16px;
$table-cell-padding-x: 8px;
$table-cell-padding-y: 8px;
$prefix: 'tsml-';

// "namespaced" css -- should not interfere with presentation outside .tsml-ui
div#tsml-ui {
  --tsml-border-radius: 0.375rem;

  // import only what we need from bootstrap
  @import '~bootstrap/scss/functions';
  @import '~bootstrap/scss/variables';
  @import '~bootstrap/scss/maps';
  @import '~bootstrap/scss/mixins';
  @import '~bootstrap/scss/utilities';

  $dropdown-border-color: $gray-300;
  $dropdown-divider-bg: $gray-300;
  $table-border-color: $gray-300;

  @import '~bootstrap/scss/root';
  @import '~bootstrap/scss/reboot';
  @import '~bootstrap/scss/type';
  // @import '~bootstrap/scss/images';
  @import '~bootstrap/scss/containers';
  @import '~bootstrap/scss/grid';
  @import '~bootstrap/scss/tables';
  @import '~bootstrap/scss/forms';
  @import '~bootstrap/scss/buttons';
  // @import '~bootstrap/scss/transitions';
  @import '~bootstrap/scss/dropdown';
  @import '~bootstrap/scss/button-group';
  // @import '~bootstrap/scss/nav';
  // @import '~bootstrap/scss/navbar';
  // @import '~bootstrap/scss/card';
  // @import '~bootstrap/scss/accordion';
  // @import '~bootstrap/scss/breadcrumb';
  // @import '~bootstrap/scss/pagination';
  @import '~bootstrap/scss/badge';
  @import '~bootstrap/scss/alert';
  // @import '~bootstrap/scss/progress';
  @import '~bootstrap/scss/list-group';
  // @import '~bootstrap/scss/close';
  // @import '~bootstrap/scss/toasts';
  // @import '~bootstrap/scss/modal';
  // @import '~bootstrap/scss/tooltip';
  // @import '~bootstrap/scss/popover';
  // @import '~bootstrap/scss/carousel';
  @import '~bootstrap/scss/spinners';
  @import '~bootstrap/scss/offcanvas';
  // @import '~bootstrap/scss/placeholders';
  @import '~bootstrap/scss/helpers';
  @import '~bootstrap/scss/utilities/api';

  // styles that bootstrap normally puts on the body
  // background-color: $body-bg !important;
  color: $body-color !important;
  display: flex;
  font-family: $font-family-sans-serif !important;
  font-weight: $font-weight-base !important;
  line-height: $line-height-base !important;
  text-align: left !important;
  text-size-adjust: none;

  h1,
  h2,
  h3,
  p,
  ol,
  ul {
    letter-spacing: 0 !important;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: none;
  }

  h1 {
    font-size: 32px !important;
    @include media-breakpoint-up(md) {
      font-size: 40px !important;
    }
    &:focus {
      outline: none;
    }
  }

  h2 {
    font-size: 20px !important;
  }

  h3 {
    font-size: 16px !important;
  }

  a {
    color: $link-color;
    &:hover {
      color: $link-hover-color;
    }
  }

  button {
    font-weight: inherit;
  }

  .mapboxgl-ctrl-attrib-inner {
    font-size: 12px !important;
  }

  .btn {
    cursor: inherit;
    &[href] {
      cursor: pointer;
    }
    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }
  }

  /* saves .02 mb not to enable negative margins in bootstrap */
  .mb-n1 {
    margin-bottom: -4px !important;
  }

  a.btn,
  small {
    &.online {
      background-color: $blue-100;
      border-color: $blue-100;
      color: $blue-600 !important;
      &[href] {
        border-color: $blue-200;
        &:hover {
          background-color: $blue-400;
          color: white !important;
        }
      }
    }

    &.in-person {
      background-color: $green-100;
      border-color: $green-100;
      color: $green-600 !important;
      &[href] {
        border-color: $green-200;
        &:hover {
          background-color: $green-400;
          color: white !important;
        }
      }
    }

    &.inactive {
      background-color: $red-100;
      border-color: $red-100;
      color: $red-600 !important;
      &[href] {
        border-color: $red-200;
        &:hover {
          background-color: $red-400;
          color: white !important;
        }
      }
    }
  }

  // needed as of bootstrap 5.1
  .bg-light {
    background-color: $gray-100 !important;
  }
  .bg-secondary {
    background-color: $gray-600 !important;
  }
  .text-white {
    color: $white !important;
  }
  .text-dark {
    color: $gray-800 !important;
  }

  .container-fluid {
    @include media-breakpoint-up(md) {
      min-height: 100%;
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .list-group {
    overflow-x: hidden;
    .list-group-item + .list-group-item {
      // to prevent double border
      border-top-width: 0;
    }
  }

  .controls {
    // to allow map to fill available space
    flex: none;

    // show search cancel button
    input[type='search']::-webkit-search-cancel-button {
      -webkit-appearance: searchfield-cancel-button;
    }

    .dropdown {
      .dropdown-menu {
        min-width: 100%;
      }

      // indentation todo make recursive with sass?
      .children {
        button {
          padding-left: 24px;
        }

        .children {
          button {
            padding-left: 48px;
          }

          .children {
            button {
              padding-left: 64px;
            }
          }
        }
      }
    }

    .dropdown-menu-end {
      right: 0;
    }
  }

  .meeting .map {
    height: 100%;
    max-height: 1000px;
    overflow: hidden;
    position: relative;
  }

  .map {
    min-height: 500px; // maps should fill at least 500, but up to entire space

    .mapboxgl-popup {
      max-width: 85%;
      width: 320px;
      z-index: 100; // above the pins

      .mapboxgl-popup-content {
        padding: 12px;
        position: relative;

        .list-group {
          max-height: 250px;
          .list-group-item {
            font-size: 14.4px;
            padding: 8px;
          }
        }

        .mapboxgl-popup-close-button {
          background: white;
          border-radius: 100%;
          border: 1px solid $gray-300;
          color: $gray-500;
          font-size: 24px;
          height: 30px;
          line-height: 1;
          padding: 0 4px 4px 4px;
          position: absolute;
          right: -10px;
          top: -10px;
          width: 30px;

          &:hover {
            background-color: inherit;
            color: $gray-800;
          }
        }
      }
    }
  }

  table.table {
    font-size: 16px !important;
    table-layout: auto;

    th {
      text-transform: none;
    }

    td {
      vertical-align: middle;
    }

    .distance {
      text-align: right;
    }

    // align edges
    tr th:first-child,
    td:first-child {
      padding-left: 16px;
    }

    tbody.tsml-in-progress {
      background-color: rgba($warning, 0.25);

      tr {
        background-color: rgba($white, 0.75) !important;

        a,
        button {
          color: shade-color($yellow-200, 40);
        }

        a:hover,
        button:hover,
        &:hover a:not(.btn-sm) {
          color: $yellow-800 !important;
        }

        &:nth-of-type(odd) {
          background-color: rgba($gray-100, 0.5) !important;
        }
      }
    }

    // necessary as of v5 to prevent overlapping bg
    tbody > tr:nth-of-type(odd) {
      background-color: $gray-100;
      td,
      time {
        box-shadow: none;
      }
    }

    // when whole row is clickable
    &.clickable-rows tbody tr:hover a {
      color: $link-hover-color;
    }

    //mobile view
    @include media-breakpoint-down(md) {
      tr {
        border-top: 1px solid $gray-300;
        min-height: 110px;
        padding: 6px 12px;
        position: relative;

        td {
          border: 0;
          padding: 0 0 0 96px;

          &.time,
          &.distance {
            left: 16px;
            padding-left: 0;
            position: absolute;
            width: 83px;
          }

          &.distance {
            line-height: 1.15;
            top: 56px;
          }
        }
      }
    }
  }
}

// wordpress
#wpadminbar #wp-admin-bar-edit-meeting > .ab-item::before {
  content: '\f464';
  top: 2px;
}

body.twentyfourteen,
body.theme-twentyfourteen {
  #page::before,
  .entry-header,
  #secondary {
    display: none;
  }

  #primary {
    padding-top: 0;
  }

  #content {
    margin-left: 0;
  }

  .entry-content {
    max-width: none;
    min-height: 100vh;
    padding: 0 !important;
  }
}

body.twentytwenty,
body.theme-twentytwenty {
  input[type='search'] {
    letter-spacing: 0;
  }
  button {
    letter-spacing: 0;
  }
}

body[class*='avada-'] {
  .fusion-tb-header {
    margin-bottom: 0 !important;
  }
  .post-content,
  main#main {
    padding: 0 !important;
  }
  .avada-page-titlebar-wrapper {
    display: none;
  }
}
