//minimal global styling
html,
body {
  height: 100%; //for dropdown blur
  margin: 0;
}

//"namespaced" css -- should not interfere with presentation outside the <meetings> element
meetings {
  //import map
  @import '~mapbox-gl/dist/mapbox-gl.css';

  //import only what we need from bootstrap
  @import '~bootstrap/scss/functions';
  @import '~bootstrap/scss/variables';
  @import '~bootstrap/scss/mixins';
  @import '~bootstrap/scss/utilities';
  @import '~bootstrap/scss/root';
  @import '~bootstrap/scss/reboot';
  @import '~bootstrap/scss/type';
  //@import '~bootstrap/scss/images';
  @import '~bootstrap/scss/containers';
  @import '~bootstrap/scss/grid';
  @import '~bootstrap/scss/tables';
  @import '~bootstrap/scss/forms';
  @import '~bootstrap/scss/buttons';
  //@import '~bootstrap/scss/transitions';
  @import '~bootstrap/scss/dropdown';
  @import '~bootstrap/scss/button-group';
  //@import '~bootstrap/scss/nav';
  //@import '~bootstrap/scss/navbar';
  @import '~bootstrap/scss/card';
  //@import '~bootstrap/scss/breadcrumb';
  //@import '~bootstrap/scss/pagination';
  @import '~bootstrap/scss/badge';
  @import '~bootstrap/scss/alert';
  //@import '~bootstrap/scss/progress';
  @import '~bootstrap/scss/list-group';
  //@import '~bootstrap/scss/close';
  //@import '~bootstrap/scss/toasts';
  //@import '~bootstrap/scss/modal';
  //@import '~bootstrap/scss/tooltip';
  //@import '~bootstrap/scss/popover';
  //@import '~bootstrap/scss/carousel';
  @import '~bootstrap/scss/spinners';
  @import '~bootstrap/scss/helpers';
  @import '~bootstrap/scss/utilities/api';

  //styles that bootstrap normally puts on the body
  font-family: $font-family-sans-serif;
  @include font-size($font-size-base);
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: $body-text-align;
  background-color: $body-bg;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($black, 0);

  a {
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
  }

  .container-fluid {
    min-height: 100%;

    //to prevent white border
    .row {
      margin-left: -1rem;
      margin-right: -1rem;
    }

    //to prevent double border
    .list-group-item+.list-group-item {
      border-top-width: 0;
    }

    .controls {
      //to allow map to fill available space
      flex: none;

      //show search cancel button
      input[type='search']::-webkit-search-cancel-button {
        -webkit-appearance: searchfield-cancel-button;
      }

      .dropdown {
        .dropdown button {
          overflow: hidden;
        }

        .dropdown-menu {
          min-width: 100%;
        }

        //indentation todo make recursive with sass?
        .children {
          a {
            padding-left: 2rem;
          }

          .children {
            a {
              padding-left: 4rem;
            }

            .children {
              a {
                padding-left: 6rem;
              }
            }
          }
        }
      }
    }

    .map {
      min-height: 500px; //maps should fill at least 500, but up to entire space
      position: relative; //so map can fill 100%

      .control {
        @include media-breakpoint-down(sm) {
          display: none;
        }

        position: absolute;
        right: 10px;
        top: 10px;
      }

      .popup {
        max-width: 85%;
        width: 320px;

        .mapboxgl-popup-close-button {
          font-size: 1.5rem;
          line-height: 1;
        }
      }
    }

    table {

      .distance {
        text-align: right;
      }

      //align edges
      tr th:first-child,
      td:first-child {
        padding-left: 1rem;
      }

      //necessary as of v5 to prevent overlapping bg
      &.table-striped>tbody>tr:nth-of-type(odd) {
        background-color: $gray-100;

        td,
        time {
          background: none;
        }
      }

      //mobile view
      @include media-breakpoint-down(md) {
        tr {
          border-top: 1px solid $table-border-color;
          padding: 0.5rem 1rem;
          position: relative;

          td {
            border: 0;
            padding: 0 0 0 7rem;

            &.time {
              left: 1rem;
              padding-left: 0;
              position: absolute;
            }

            &.distance {
              left: 1rem;
              top: 3.5rem;
              padding-left: 0;
              font-size: 1.5rem;
              position: absolute;
            }
          }
        }
      }

      //regular column widths
      @include media-breakpoint-up(md) {

        .name,
        .location,
        .address,
        .region {
          width: 25%;
        }
      }
    }

    .mapboxgl-popup {
      z-index: 100; //to get above the pins

      .list-group-item {
        padding: 0.25rem 0.25rem 0.25rem 5.5rem;

        time {
          left: 0.5rem;
          position: absolute;
        }
      }
    }
  }
}