name: Build & Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'npm'
      - run: npm install

      - name: Check Prettier formatting
        run: npx prettier --check src/
        # Let fail for now
        continue-on-error: true

      - name: Run ESLint
        run: npx eslint src/
        # Let fail for now
        continue-on-error: true

      - run: npm run test-coverage
      - run: npm run build

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
